body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif ;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3em;
    text-decoration: underline;
    
}

h2 {
    color: white;
    text-decoration: underline;
}

.titulo {
    margin-top: 2em;
}

.contacto-info {
    font-size: 22px;
    word-wrap: break-word;
    line-height: 35px;
}


p {
    color: white;
}

.logo{
    
    display: flex;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 30em;
    height: 22em;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

.box {
    background-color: rgb(48, 46, 44);
    display: block;
    padding: 25px;
    width: 70%;
    height: fit-content;
    margin: auto;
    border: double;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#map {
    font-size: 100%;
  outline: none;
  
  display: flex; 
  
}
