body {
    margin: 0;
    padding: 0;
    background: linear-gradient(303deg, rgb(0, 0, 0), rgb(62, 45, 45)) 0% 0% / 200% 200%;
    animation: 45s ease 0s infinite normal none running CustomAnimation;
    font-family:Georgia, 'Times New Roman', Times, serif ;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    
}

h2 {
    color: white;
    text-decoration: underline;
}

.contacto-info {
    font-size: 15px;
    word-wrap: break-word;
    line-height: 35px;
}


p {
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

.box {
    background-color: rgb(48, 46, 44);
    display: block;
    padding: 25px;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 15px;
    border: double;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.footer-text {
    font-size: 10px;
}

#map {
    font-size: 100%;
  outline: none;
  
  display: flex; 
  
}
